<div class="jumbotron">
	<h1>Awesome Events Start with a <br>Smart Ticketing Experience.</h1>
	<h3>Professional, conferences, workshops, training events, seminars, private events, <br> music &amp; concerts, fund raising &amp; donations, free &amp; paid events and more</h3>
	
	<%= link_to "Discover Events", events_path, class: "btn btn-primary btn-lg" %>
</div>
