<h1>Awesome Events Start with a Smart Ticketing Experience.</h1>
<p>Professional, conferences, workshops, training events, seminars, private events, music &amp; concerts, fund raising &amp; donations, free &amp; paid events and more</p>

<%= link_to "Discover Events", events_path, class: "btn btn-primary btn-lg" %>
